//------------------------------------------------------------------------------
// KEYBINDINGS

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+Delete { quit skip-confirmation=true; }

    Mod+Q { close-window; }

    // Run programs

    Mod+P { spawn "rofi" "-show-icons" "-show" "drun"; }
    Mod+T { spawn "kitty"; }
    Mod+E { spawn "code"; }
    Mod+B { spawn "firefox"; }

    // Focus

    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }

    Mod+Down { focus-workspace-down; }
    Mod+Up { focus-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // Move

    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End { move-column-to-last; }

    Mod+Ctrl+Down { move-column-to-workspace-down; }
    Mod+Ctrl+Up { move-column-to-workspace-up; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Shift+Down { move-workspace-down; }
    Mod+Shift+Up { move-workspace-up; }

    // Resize

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+0 { set-column-width "50%"; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Take screenshots

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Audio keys

    XF86AudioRaiseVolume { spawn "vol-inc"; }
    XF86AudioLowerVolume { spawn "vol-dec"; }
    XF86AudioMute { spawn "vol-mute"; }
    XF86AudioMicMute { spawn "mic-mute"; }

    // Brightness keys

    XF86MonBrightnessUp { spawn "br-inc"; }
    XF86MonBrightnessDown { spawn "br-dec"; }
}

//------------------------------------------------------------------------------
// SETTINGS

// Remove titlebars from windows.
prefer-no-csd

screenshot-path "~/images/screenshot-%Y-%m-%d-%H-%M-%S.png"

// Needed for xwayland-satellite.
environment {
    DISPLAY ":0"
}

input {
    // Switching to the same workspace by index twice brings you back to the
    // previous workspace.
    workspace-auto-back-and-forth

    focus-follows-mouse

    keyboard {
        xkb {
            layout "us"
        }
    }

    touchpad {
        tap
        natural-scroll

        // Disable while typing.
        // Without this, I keep accidentally tapping the touchpad with my palms
        // as I type, causing the cursor to jump elsewhere in the text.
        // It's *fucking maddening*.
        dwt
    }
}

output "eDP-1" {
    scale 1
    transform "normal"
    position x=1280 y=0
}

layout {
    gaps 12
    center-focused-column "never"
    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    focus-ring {
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
}

//------------------------------------------------------------------------------
// WINDOW RULES

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

//------------------------------------------------------------------------------
// STARTUP

hotkey-overlay {
    skip-at-startup
}

// Make more X11 apps work, like Emacs.
// See https://github.com/YaLTeR/niri/wiki/Xwayland
spawn-at-startup "xwayland-satellite"

// Set the wallpaper
spawn-at-startup "hyprpaper"

// Start notification daemon
spawn-at-startup "mako"

// Launch the top bar
// Can't use "~/.config/..." here, as only the absolute path works.
spawn-at-startup "waybar"

spawn-at-startup "code"
