//------------------------------------------------------------------------------
// KEYBINDINGS

// To see all bindable actions:
// niri msg action -h

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+Delete { quit skip-confirmation=true; }

    Mod+Backspace { close-window; }

    // Run programs

    Mod+P { spawn "rofi" "-show-icons" "-show" "drun"; }
    Mod+Return { spawn "kitty"; }
    Mod+E { spawn "code"; }
    Mod+B { spawn "firefox"; }

    // Focus

    Mod+Left { focus-column-or-monitor-left; }
    Mod+Right { focus-column-or-monitor-right; }
    Mod+Up { focus-workspace-up; }
    Mod+Down { focus-workspace-down; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }

    Mod+Grave { focus-window-down-or-top; }
    Mod+Tab { focus-window-previous; }

    Mod+BracketLeft { focus-monitor-left; }
    Mod+BracketRight { focus-monitor-right; }

    // Move

    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up { move-column-to-workspace-up; }
    Mod+Shift+Down { move-column-to-workspace-down; }

    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End { move-column-to-last; }

    Mod+Comma { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+Alt+Up { move-workspace-up; }
    Mod+Alt+Down { move-workspace-down; }

    Mod+Shift+BracketLeft { move-column-to-monitor-left; }
    Mod+Shift+BracketRight { move-column-to-monitor-right; }

    // Layout

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+R { switch-preset-window-width; }
    Mod+0 { set-window-width "50%"; }
    Mod+Minus { set-window-width "-10%"; }
    Mod+Equal { set-window-width "+10%"; }

    // Take screenshot

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Media keys

    XF86AudioLowerVolume { spawn "vol" "dec"; }
    XF86AudioRaiseVolume { spawn "vol" "inc"; }
    XF86AudioMute { spawn "vol" "toggle"; }
    XF86AudioMicMute { spawn "vol" "toggle-mic"; }

    XF86MonBrightnessDown { spawn "bri" "dec"; }
    XF86MonBrightnessUp { spawn "bri" "inc"; }
}

//------------------------------------------------------------------------------
// MONITORS

// I used `niri msg outputs` to work out the details.

// Left: laptop screen, 1920x1080
output "eDP-1" {
    scale 1
    position x=0 y=0
    background-color "black"
}

// Right: Asus ROG XG279
output "HDMI-A-1" {
    mode "2560x1440@144.006"
    variable-refresh-rate
    scale 1
    position x=1920 y=0
    background-color "black"
}

//------------------------------------------------------------------------------
// SETTINGS

// Remove decorations from windows.
prefer-no-csd

screenshot-path "~/images/screenshot-%Y-%m-%d-%H-%M-%S.png"

environment {
    // Needed for xwayland-satellite.
    DISPLAY ":0"
}

input {
    workspace-auto-back-and-forth
    focus-follows-mouse
    warp-mouse-to-focus

    keyboard {
        xkb {
            layout "us"
        }
    }

    mouse {
        natural-scroll
    }

    touchpad {
        natural-scroll
        tap
        dwt // Disable while typing

        // TODO: Figure out which method, and which other settings provide the
        // best experience. Still find the trackpad on this laptop annoying as
        // fuck to use. Keep accidentally triggering clicks constantly.
        click-method "clickfinger"
    }
}

layout {
    gaps 4
    default-column-display "tabbed"

    tab-indicator {
        hide-when-single-tab
        gap 4
        width 4
        length total-proportion=1.0
        position "top"
        place-within-column
        active-color "#7fc8ff"
    }

    focus-ring {
        width 2
        active-color "#7fc8ff"
        inactive-color "#00000000"
    }

    center-focused-column "never"
    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
}

//------------------------------------------------------------------------------
// STARTUP

hotkey-overlay {
    skip-at-startup
}

// Make more X11 apps work. Emacs doesn't run without this, for example.
// See https://github.com/YaLTeR/niri/wiki/Xwayland
spawn-at-startup "xwayland-satellite"

spawn-at-startup "swaybg" "--image" "/home/dan/dot/wallpapers/alena-aenami-all-i-need-1080p.jpg"
spawn-at-startup "waybar" "-c" "/home/dan/dot/home/niri/waybar.jsonc"
spawn-at-startup "clipse" "-listen"
spawn-at-startup "code"
