//------------------------------------------------------------------------------
// KEYBINDINGS

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+Delete { quit skip-confirmation=true; }

    Mod+W { close-window; }

    // Run programs

    Mod+P { spawn "rofi" "-show-icons" "-show" "drun"; }
    Mod+T { spawn "kitty"; }
    Mod+E { spawn "code"; }
    Mod+B { spawn "firefox"; }

    // Focus columns

    Mod+Left { focus-column-or-monitor-left; }
    Mod+Right { focus-column-or-monitor-right; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }

    // Focus windows

    Mod+Grave { focus-window-down-or-top; }
    Mod+Tab { focus-window-previous; }

    // Focus workspaces

    Mod+Up { focus-workspace-up; }
    Mod+Down { focus-workspace-down; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // Move columns

    Mod+Shift+Left { move-column-left-or-to-monitor-left; }
    Mod+Shift+Right { move-column-right-or-to-monitor-right; }

    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End { move-column-to-last; }

    Mod+Shift+Up { move-column-to-workspace-up; }
    Mod+Shift+Down { move-column-to-workspace-down; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Move workspaces

    Mod+Alt+Up { move-workspace-up; }
    Mod+Alt+Down { move-workspace-down; }

    // Layout

    Mod+Comma { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+0 { set-column-width "50%"; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Take screenshots

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Media keys

    XF86AudioRaiseVolume { spawn "vol-inc"; }
    XF86AudioLowerVolume { spawn "vol-dec"; }
    XF86AudioMute { spawn "vol-mute"; }

    XF86AudioMicMute { spawn "mic-mute"; }

    XF86MonBrightnessUp { spawn "br-inc"; }
    XF86MonBrightnessDown { spawn "br-dec"; }
}

//------------------------------------------------------------------------------
// SETTINGS

// Remove decorations from windows.
prefer-no-csd

screenshot-path "~/images/screenshot-%Y-%m-%d-%H-%M-%S.png"

environment {
    // Needed for xwayland-satellite.
    DISPLAY ":0"
}

input {
    // Switching to the same workspace by index twice brings you back to the
    // previous workspace.
    workspace-auto-back-and-forth

    focus-follows-mouse

    keyboard {
        xkb {
            layout "us"
        }
    }

    mouse {
        natural-scroll
    }

    touchpad {
        tap
        natural-scroll

        // Disable while typing.
        // Without this, I keep accidentally tapping the touchpad with my palms
        // as I type, causing the cursor to jump elsewhere in the text.
        // It's *fucking maddening*.
        dwt
    }
}

output "eDP-1" {
    scale 1
    transform "normal"
    position x=1280 y=0
}

layout {
    gaps 8
    center-focused-column "never"
    default-column-width { proportion 0.5; }
    default-column-display "tabbed"

    tab-indicator {
        gap 0
        width 4
        length total-proportion=1.0
        position "top"
        place-within-column
        active-color "#7fc8ff"
    }

    focus-ring {
        off
    }
}

//------------------------------------------------------------------------------
// STARTUP

hotkey-overlay {
    skip-at-startup
}

// Make more X11 apps work. Emacs doesn't run without this, for example.
// See https://github.com/YaLTeR/niri/wiki/Xwayland
spawn-at-startup "xwayland-satellite"

spawn-at-startup "swaybg" "--image" "/home/dan/dot/wallpapers/alena-aenami-all-i-need-1080p.jpg"
spawn-at-startup "waybar"
spawn-at-startup "code"
