//------------------------------------------------------------------------------
// RULES

window-rule {
    match app-id="firefox"
    match app-id="brave-browser"

    open-maximized true
}

window-rule {
    match app-id="menu"

    open-floating true
    opacity 0.9
    default-column-width { fixed 1200; }
    default-window-height { fixed 900; }
}

window-rule {
    match app-id="clipse"

    open-floating true
    opacity 0.9
    default-column-width { fixed 700; }
    default-window-height { fixed 900; }
}

//------------------------------------------------------------------------------
// KEYBINDINGS

// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

// To see all bindable actions:
// $ niri msg action -h

// Run command inside a shell:
// spawn "sh" "-c" "notify-send Hello \"OH, HAI!\"""

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+Delete { quit skip-confirmation=true; }

    Mod+Backspace { close-window; }

    Mod+F { maximize-column; }

    // Run programs

    Mod+P { spawn "sh" "-c" "pkill rofi || rofi -show drun -show-icons"; }
    Mod+Return { spawn "wezterm"; }
    Mod+E { spawn "code"; }
    Mod+B { spawn "brave"; }
    Mod+Shift+B { spawn "cx" "bookmarks"; }
    Mod+V { spawn "cx" "clipboard"; }

    // Focus

    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Left { focus-column-left; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }

    Mod+Grave { focus-window-down-or-top; }
    Mod+Tab { focus-window-previous; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // Move
    // TODO: Decide which modifier(s) to use for moving stuff.

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Down { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End { move-column-to-last; }

    Mod+Comma { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    Mod+Alt+Up { move-workspace-up; }
    Mod+Alt+Down { move-workspace-down; }

    // Monitors
    // TODO: Come up with better bindings.

    Mod+U { focus-monitor-left; }
    Mod+I { focus-monitor-right; }

    Mod+Shift+U { move-column-to-monitor-left; }
    Mod+Shift+I { move-column-to-monitor-right; }

    // Screenshotting
    // These are similar to the binds on macOS, as I'm used to `em.
    // TODO: Come up with better ones.
    // TODO: Figure out why the PrintScr key isn't working on the external kb.

    Mod+Shift+4 { screenshot; }
    Mod+Shift+3 { screenshot-screen; }
    Mod+Shift+2 { screenshot-window; }

    // Media keys

    XF86AudioLowerVolume { spawn "vol" "dec"; }
    XF86AudioRaiseVolume { spawn "vol" "inc"; }
    XF86AudioMute { spawn "vol" "toggle"; }
    XF86AudioMicMute { spawn "vol" "toggle-mic"; }

    XF86MonBrightnessDown { spawn "bri" "dec"; }
    XF86MonBrightnessUp { spawn "bri" "inc"; }
}

//------------------------------------------------------------------------------
// MONITORS

// To get a list:
// $ niri msg outputs

// Left: laptop screen, 13", 1920x1080
output "eDP-1" {
    scale 1
    position x=0 y=0
}

// Right: Asus ROG XG279, 27", 2560x1440, 170 Hz
output "HDMI-A-1" {
    mode "2560x1440@144.006"
    variable-refresh-rate
    scale 1
    position x=1920 y=0
}

//------------------------------------------------------------------------------
// SETTINGS

// Remove window decorations.
prefer-no-csd

screenshot-path "~/images/screenshot-%Y-%m-%d-%H-%M-%S.png"

environment {
    DISPLAY ":0" // Needed for xwayland-satellite.
}

input {
    workspace-auto-back-and-forth
    focus-follows-mouse

    keyboard {
        xkb {
            layout "us"
        }
    }

    mouse {
        natural-scroll
    }

    touchpad {
        natural-scroll
        dwt // Disable while typing
        click-method "clickfinger"
    }
}

layout {
    gaps 8
    // default-column-display "tabbed"
    default-column-display "normal"

    tab-indicator {
        hide-when-single-tab
        gap 4
        width 4
        length total-proportion=1.0
        position "top"
        place-within-column
        active-color "#7fc8ff"
    }

    focus-ring {
        width 2
        active-color "#7fc8ff"
        inactive-color "#00000000"
    }

    center-focused-column "never"
    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
}

cursor {
    hide-when-typing
}

clipboard {
    // Disable middle-click paste. Too easy to trigger accidentally.
    disable-primary
}

//------------------------------------------------------------------------------
// STARTUP

hotkey-overlay {
    skip-at-startup
}

// Make more X11 apps work. Emacs doesn't run without this, for example.
// See https://github.com/YaLTeR/niri/wiki/Xwayland
spawn-at-startup "xwayland-satellite"

spawn-at-startup "swaybg" "--image" "/home/dan/dot/wallpapers/alena-aenami-all-i-need-1080p.jpg"
spawn-at-startup "waybar" "-c" "/home/dan/dot/home/niri/waybar.jsonc"
spawn-at-startup "clipse" "-listen"
spawn-at-startup "code"
